
.todolist_wrap{
  display: flex;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: auto;
}
.todolist_headerwrap{
  margin-bottom: 30px;
}
.todolist_header {
  font-size: 32px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 10px;
}
.todolist_subheader{
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  vertical-align: top;
  font-size: 14px;
  color: #000;
  background-color: #FCF8E3;
  padding: 0 2px;
  line-height: 1.4;
  box-sizing: border-box;
}

.todolist_inputwrap{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 10px;
  margin-bottom: 20px;
  flex: 1 0 auto;
}

.todolist_input{
  width: 100%;
  height: 32px;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 5px 10px;
}

.todolist_inputbtn{
  min-width: 100px;
  height: 32px;
  font-size: 14px;
  color: #0DCDF1;
  background-color: #fff;
  border: 1px solid #0DCDF1;
  border-radius: 5px;
  padding: 5px 10px;
  box-sizing: border-box;
  cursor: pointer;
}

.todolist_list{
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.todolist_item.todolist_itemheader{
  border-bottom: 2px solid #000;
  font-weight: bold;
}
.todolist_item{
  border-bottom: 1px solid #eaeaea;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #000;
  box-sizing: border-box;
}

.todolist_item .todolist_number{
  width: 10%;
}
.todolist_item .todolist_name{
  width: 50%;
  box-sizing: border-box;
}
input[class="todolist_name"]:disabled {
  border: 0px;
  background-color: transparent;
  text-align: center;
}

.todolist_item .todolist_status{
  width: 20%;
}
.todolist_status .todolist_statusbadge{
  display: inline-block;
  min-height: 36px;
  font-size: 14px;
  line-height: 1.2;
  padding: 9px 10px;
  border-radius: 5px;
  box-sizing: border-box;
}
.todolist_status .todolist_statusbadge.todo{
  border: 1px solid #6C757D;
  color: #6C757D;
}
.todolist_status .todolist_statusbadge.inProgress{
  border: 1px solid #FFC107;
  color: #FFC107;
}
.todolist_status .todolist_statusbadge.complete{
  border: 1px solid #198754;
  color: #198754;
}
.todolist_status .todolist_statusbadge.inProgressActive{
  border: 1px solid #FFC107;
  background-color: #FFC107;
  color: #000;
}

.todolist_item .todolist_edit{
  width: 10%;
}
.todolist_item .todolist_edit .todolist_editbtn{
  width: 36px;
  height: 36px;
  border: 1px solid #0DCDF1;
  border-radius: 5px;
  font-size: 0;
  background: url(../assets/icon_edit.png) 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
}

.todolist_item .todolist_remove{
  width: 10%;
}

.todolist_item .todolist_remove .todolist_removebtn{
  width: 36px;
  height: 36px;
  border: 1px solid #6C757D;
  border-radius: 5px;
  font-size: 0;
  background: url(../assets/icon_remove.png) 0 0 no-repeat;
  background-size: cover;
  cursor: pointer;
}

.todolist_form{
  width: 100%;
  display: flex;
  gap: 10px;

}
